.gift-card {
	border-radius: 16px;
	box-shadow: #a4677c 0px 2px 4px;
}

.padding{
    padding: 0 12px;
}

.text {
    font-size: 20px;
}

.content {
	padding: 12px 16px;
}

.gift-card-img {
	--max-height: 360px;

	min-height: var(--max-height) !important;
	max-height: var(--max-height) !important;
}

.gift-card-msg {
	--max-height: 360px;

	min-height: var(--max-height) !important;
	max-height: var(--max-height) !important;
    padding: 20px 16px;
    font-weight: 640;
    font-size: 20px;
}

.slider-btn {
	--size: 16px;
	width: var(--size);
	height: var(--size);
    border-radius: 100%;
}

/* Show-btn for card */
.show-btn {
    border-radius: 24px !important;
    padding: 10px 16px;
    font-weight: 640;
    display: flex;
    align-items: center;
    justify-content: center;
	box-shadow: #a4677c 0px 1px 4px;
    flex-grow: 1;
}
