.gift-card {
	border-radius: 16px;
	box-shadow: #a4677c 0px 2px 4px;
}

.padding {
	padding: 0 12px;
}

.text {
	font-size: 20px;
}

.content {
	padding: 12px 16px;
}

.gift-card-img {
	--max-height: 360px;

	min-height: var(--max-height) !important;
	max-height: var(--max-height) !important;
}

.gift-card-msg {
	--max-height: 360px;

	min-height: var(--max-height) !important;
	max-height: var(--max-height) !important;
	padding: 20px 16px;
	font-weight: 640;
	font-size: 20px;
}

.slider-btn {
	--size: 16px;
	width: var(--size);
	height: var(--size);
	border-radius: 100%;
}

/* Music-player */
.player-btn {
	border-radius: 100%;
	padding: 12px;
	box-shadow: #a4677c 0px 1px 4px;
	display: flex;
	align-items: center;
}

.reverse {
    transform: rotate(180deg);
}

.player-btn:hover {
    cursor: pointer;
    background-color: #f3eaea;
}
